<ion-content padding>
  <div *ngIf="isLoggedIn">
    <h2>Hi, {{user.name}} ({{user.email}})</h2>
    <p>
      Gender: {{user.gender}}
    </p>
    <p>
      <img src="{{user.imageUrl}}" width="100" alt="{{user.name}}"/>
    </p>
    <p>
      <button ion-button icon-right (click)="onLogoutClick()">
        Logout
      </button>
    </p>
  </div>


  <div class="login-container" *ngIf="!isLoggedIn">
    <div class="login-header">
      <h1>Login with Facebook or Google.</h1>
    </div>
    <div class="login-buttons">
      <button class="facebook" ion-button icon-right (click)="loginWithFacebook()">
        Login with
        <ion-icon name="logo-facebook"></ion-icon>
      </button>

      <button class="g-plus" ion-button icon-right (click)="loginWithGPlus()">
        Login with
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </div>

    <div class="horizontal-line or">
      <h2>
        <span>Or</span>
      </h2>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="form-wrapper">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <button ion-button full type="submit">Login</button>

        <!--<ion-row>-->
          <!--<ion-col>-->
            <!--<ion-list>-->
              <!--<ion-item>-->
                <!--<a>Forgot password?</a>-->
                <!--<div class="text-center">-->
                  <!--Don't have an account?-->
                  <!--<a (click)="onSignUpClick()">-->
                    <!--Register with us.-->
                  <!--</a>-->
                <!--</div>-->
              <!--</ion-item>-->
            <!--</ion-list>-->
          <!--</ion-col>-->
        <!--</ion-row>-->

      </form>
    </div>
  </div>
</ion-content>
