page-login {

  .content {
    ion-row {
      &.logo-row {
        height: 55%;
      }
      ion-col {
        ion-avatar {
          img {
            margin: 0 auto;
          }
        }
        button {
          width: 100%;
          text-transform: none;
        }
        .back-btn {
          width: 10%;
          float: left;
        }
        .facebook {
          background: #3B5998;
        }
        .g-plus {
          background: #dd4b39;
        }
        .auth-btn {
          border: solid white;
          border-radius: 5%;
        }
        div {
          color: white;
          text-align: center;
        }
        form {
          .submit-btn {
            background: #00B98D;
          }
        }
      }
    }
  }
}
