page-login {
  .login-container {
    .login-header {
      text-align: center;
      h1 {
        font-size: 12px;
      }
    }

    .login-buttons {
      display: inline-flex;
      .g-plus {
        background: red;
      }
    }

    .horizontal-line {
      margin-top: 20%;
      text-align: center;
      h2 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
      }
      h2 span {
        background: #fff;
        padding: 0 10px;
      }
    }

    .login-form {
    }
  }
}
