<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <heatmap [heatmapPoints]="data"></heatmap>
  <ion-row>
    <ion-col col-12>
      <button ion-button float-left round icon-right (click)="onConnectClick()" class="random-data connect-btn">
        {{'HOME_PAGE.CONNECT' | translate}}
      </button>
      <button ion-button float-right round color="danger" icon-right (click)="onDisconnectClick()" class="random-data disconnect-btn">
        {{'HOME_PAGE.DISCONNECT' | translate}}
      </button>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row text-center class="info">

      <div *ngIf="!toast">
        Please connect to device!
      </div>

      <div *ngIf="toast">
        Connected to the device!
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
