<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <heatmap [heatmapPoints]="data"></heatmap>
  <ion-row>
    <ion-col col-12>
      <button ion-button float-left round icon-right (click)="onConnectClick()" class="random-data connect-btn">
        {{'HOME_PAGE.CONNECT' | translate}}
      </button>
      <button ion-button float-right round color="danger" icon-right (click)="onDisconnectClick()" class="random-data disconnect-btn">
        {{'HOME_PAGE.DISCONNECT' | translate}}
      </button>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row text-center class="connection-status-text">
      <div *ngIf="!toast" [style.color]="'#f53d3d'" class="status-text">
        Please connect to device!
      </div>
      <div *ngIf="toast" [style.color]="'#00B795'" class="status-text">
        Connected to device!
      </div>
    </ion-row>
    <ion-row class="connection-status-icon">
      <ion-icon name="power" [style.color]="toast ? '#00B795' : '#f53d3d'" class="status-icon" ></ion-icon>
    </ion-row>
  </ion-grid>

</ion-content>
