.form-group {
  margin-bottom: 32px;
  position: relative;
  &.has-error {
    color: #ff0000;
    .form-control {
      border-color: #ff0000;
      box-shadow: none;
      color: #ff0000;
    }
    .help-block {
      color: #ff0000;
    }
  }
  p, .help-block {
    font-size: 12px;
    margin-top: 8px;
    //position: absolute;
    //bottom: -30px;
  }
  > span {
    display: block;
    font-size: 12px;
  }
}

.form-wrapper{
  margin: 16px 0;
  max-width: 100%;
}

a{
  color: #1ccdca;
  &:hover{
    color: #1ccdca;
  }
}

.btn{
  padding: 10px 16px;
  border-radius: 3px;
  font-size: 14px;
  min-width: 100px;
  background: #ddd;
  &.btn-default{
    background: #1ccdca;
    color: #fff;
    border: none;
  }
  &.btn-default[disabled]{
    &:hover{
      background: #1ccdca;
      color: #fff;
      opacity: 0.4;
    }
  }
  &.btn-sm{
    padding: 4px 10px;
    font-size: 12px;
  }
  &.btn-lg{
    padding: 15px 30px;
    font-size: 16px;
  }
  &:active, &:focus, &:hover{
    outline: 0 !important;
    border: none !important;
  }
}

.checkbox-inline{
  min-width: 310px;
  margin-left: 0 !important;
  font-size: 12px;
  margin-bottom: 15px;
  input[type=checkbox], input[type=radio]{
    margin-right: 8px;
  }
}

.line{
  background: rgba(0, 0, 0, 0.07);
  bottom: 0;
  height: 1px;
  position: absolute;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  &:before{
    background: #1cc6df;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
.dot{
  background: #fff;
  border: 1px solid #1cc6df;
  height: 10px;
  position: absolute;
  top: -5px;
  width: 10px;
  border-radius: 50%;
}

