page-guide-me {
  .guide-me-card {
    background-color: #292c36;
    .card-title {
      font-size: 1.3em;
      font-weight: bold;
      color: #fff;
    }
    .card-description {
      color: #fff;
    }
  }
}
